
.camera-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Couleur de fond pour la partie sombre */
  height: 5px; /* Hauteur souhaitée pour la vidéo de la caméra */
}
#qr-scanner {
  width: 500px; /* Ajustez la valeur de width selon la taille souhaitée */
  height: 400px; /* Ajustez la valeur de height selon la taille souhaitée */
}