{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout Etudiant</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>
<body>



  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SMA <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ajout' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Ajout</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'accueil' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Liste Etudiants</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'deconnexion' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Deconnexion</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'recherche_etudiant' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Recherche</span></a>
        </li>
      
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'qr_scanner' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Qr_scanner</span></a>
        </li>
       
       
       

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

              <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">rootdysi</span>
                            <img class="img-profile rounded-circle"
                                src="img/undraw_profile.svg">
                        </a>
                       
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <h1 class="text-center my-2">Ajout Etudiants</h1>
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 offset-md-3">
                         <div class="card bg-success">
                             <div class="card-body">
                                <!-- Formulaire d'inscription -->
                                <form onsubmit="validateForm(event)" action="/pointme/ajout/" method="post">
                                    {% csrf_token %}
                                    {% if messages %}
                                          {% for message in messages %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                          {% endfor %}
                                    {% endif %}
                                    <div class="md-3">
                                    <label for="nom">Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control" placeholder="votre nom" required>
                                  </div>
                                  <div class="md-3">
                                    <label for="prenom">Prenom</label>
                                    <input type="text" id="prenom" name="prenom" class="form-control" placeholder="votre prenom" required>
                                  </div>
                                  <div class="md-3">
                                    <label for="telephone">Numero telephone</label>
                                    <input type="text" id="telephone" name="telephone" class="form-control" placeholder="votre numero" required>
                                  </div>
                                  <div class="md-3">
                                    <label for="adresse_mail">Adresse Mail</label>
                                    <input type="email" id="adresse_mail" name="adresse_mail" class="form-control" placeholder="votre adresse mail" required>
                                  </div>
                                 
                                   <!-- Autres champs du formulaire -->
                                <div class="container text-center">
                                <button type="submit" class="btn btn-primary my-2" id="ajouter-etudiant-btn">
                                  Ajouter un étudiant
                                </button>
                                </form>

                             </div>
                         </div>
                     </div>
                 </div>
             </div>
        <!-- /.container-fluid -->
                 
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Bakeli 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js '%}"></script>
 
     <script src="{% static 'js/jquery.js '%}"></script>
     <script src="{% static 'js/bootstrap.js '%}"></script>
     <script src="{% static 'js/popper.js '%}"></script>
 
 
     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js '%}"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js '%}"></script>
 
     <!-- Page level plugins -->
     <script src="{% static 'vendor/chart.js/Chart.min.js '%}"></script>
 
     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/chart-area-demo.js '%}"></script>
     <script src="{% static 'js/demo/chart-pie-demo.js '%}"></script>
 
    
</body>
</html>