{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scanner</title>
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <script src="{% static 'js/jsqr.js' %}"></script>
    <script src="{% static 'css/qr.css' %}"></script>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
 
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <style>
        #video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        #video {
            width: auto;
            height: 50%;
        }
        #canvas {
            display: none;
        }
        .valide {
            color: green;
        }
        .invalide {
            color: red;
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    
   
</head>
<body>



  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SMA <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
       
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ajout' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Ajout</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'accueil' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Liste Etudiants</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'deconnexion' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Deconnexion</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'recherche_etudiant' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Recherche</span></a>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                       
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">rootdysi</span>
                            <img class="img-profile rounded-circle"
                                src="img/undraw_profile.svg">
                        </a>
                       
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
      

{% block content %}
   
    <div id="video-container">
        <video id="video" width="0" height="480" autoplay playsinline></video>
        <canvas id="canvas" width="240" height="240"></canvas>
    </div>
    <div id="result" class=""></div>
    <p id="message"></p>
    <h2>Informations des étudiants scannés</h2>
    <table>
        <tr>
            <th>Numéro de téléphone</th>
            <th>Date du pointage</th>
            <th>Heure du pointage</th>
        </tr>
        {% for etudiant in etudiants_scannes %}
        <tr>
            <td>{{ etudiant.telephone }}</td>
            <td>{{ etudiant.date_scan }}</td>
            <td>{{ etudiant.heure_scan }}</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        $(document).ready(function() {
            // Obtenir les éléments vidéo et canvas
            const video = document.getElementById('video');
            const canvas = document.getElementById('canvas');
            const context = canvas.getContext('2d');

            // Vérifier si le navigateur prend en charge la caméra
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                // Demander l'autorisation d'accéder à la caméra
                navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                    // Afficher la vidéo en direct dans l'élément vidéo
                    video.srcObject = stream;
                    video.play();
                });
            }

            // Fonction pour scanner le QR code à partir de la vidéo
            function scanQRCode() {
                // Dessiner la vidéo sur le canvas
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // Obtenir les données de l'image du canvas
                const imageData = context.getImageData(0, 0, canvas.width, canvas.height);

                // Utiliser la bibliothèque jsQR pour décoder le QR code
                const code = jsQR(imageData.data, imageData.width, imageData.height);

                // Vérifier si un QR code a été détecté
                if (code) {
                    // Récupérer les données du QR code
                    const qrCodeData = code.data;

                    // Envoyer les données du QR code au serveur pour vérification
                    $.ajax({
                        type: 'POST',
                        url: '{% url "verifier_qr_code" %}',
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            qr_code: qrCodeData
                        },
                        success: function(response) {
                            if (response.valide) {
                                $('#message').text('QR code valide');
                            } else {
                                $('#message').text('QR code invalide');
                            }

                            // Afficher les informations des étudiants scannés
                            $('#result').empty();
                            for (const etudiant of response.etudiants_scannes) {
                                const row = $('<tr>');
                                row.append($('<td>').text(etudiant.telephone));
                                row.append($('<td>').text(etudiant.date_pointage));
                                row.append($('<td>').text(etudiant.heure_pointage));
                                $('#result').append(row);
                            }
                        },
                        error: function() {
                            $('#message').text('Une erreur s\'est produite lors de la vérification de QR code.');
                           
                        }
                        });
                        }
                                    // Répéter la fonction de scan à chaque rafraîchissement de l'écran
            requestAnimationFrame(scanQRCode);
        }

        // Démarrer le scan initial du QR code
        scanQRCode();
    });
</script>
{% endblock %}


         </div>
         <!-- End of Content Wrapper -->
     
     </div>

     
      
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Bakeli 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
       


     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js '%}"></script>
 
     <script src="{% static 'js/jquery.js '%}"></script>
     <script src="{% static 'js/bootstrap.js '%}"></script>
     <script src="{% static 'js/popper.js '%}"></script>
 
 
     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js '%}"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js '%}"></script>
 
     <!-- Page level plugins -->
     <script src="{% static 'vendor/chart.js/Chart.min.js '%}"></script>
 
     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/chart-area-demo.js '%}"></script>
     <script src="{% static 'js/demo/chart-pie-demo.js '%}"></script>
 
    
</body>
</html>



