{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/jsqr.js' %}"></script>
    <script src="{% static 'css/qr.css' %}"></script>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <style>
        #video-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        #video {
            width: auto;
            height: 50%;
        }
        #canvas {
            display: none;
        }
        .valide {
            color: green;
        }
        .invalide {
            color: red;
        }
        table {
            margin-top: 20px;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    
    
    <script src="{% static 'js/jsqr.js' %}"></script>
    <script src="{% static 'css/qr.css' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
   
</head>
<body>



  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SMA <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'ajout' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Ajout</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'qr_scanner' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Scanner</span></a>
        </li>
        <!-- <hr class="sidebar-divider my-0">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'connexion' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li> -->
       
       

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                       
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">rootdysi</span>
                            <img class="img-profile rounded-circle"
                                src="img/undraw_profile.svg">
                        </a>
                       
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div id="video-container">
                <video id="video" width="0" height="480" autoplay playsinline></video>
                <canvas id="canvas" width="240" height="240"></canvas>
            </div>
            <div id="result" class="">
                <table>
                    <tr>
                        <th>Numéro de téléphone</th>
                        <th>Date du pointage</th>
                        <th>Heure du pointage</th>
                    </tr>
                </table>
            </div>
            <p id="message"></p>
            
            <script>
                $(document).ready(function() {
                    navigator.mediaDevices.getUserMedia({ video: true })
                        .then(function(stream) {
                            let video = document.getElementById('video');
                            video.srcObject = stream;
                            video.play();
                            video.onloadedmetadata = function() {
                                scanQRCode();
                            };
                        })
                        .catch(function(error) {
                            console.log("Erreur d'accès à la webcam : " + error);
                        });
            
                    function getCurrentDate() {
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0');
                        var yyyy = today.getFullYear();
                        return yyyy + '-' + mm + '-' + dd;
                    }
            
                    function getCurrentTime() {
                        var now = new Date();
                        var hours = String(now.getHours()).padStart(2, '0');
                        var minutes = String(now.getMinutes()).padStart(2, '0');
                        var seconds = String(now.getSeconds()).padStart(2, '0');
                        return hours + ':' + minutes + ':' + seconds;
                    }
            
                    function scanQRCode() {
                        let video = document.getElementById('video');
                        let canvas = document.getElementById('canvas');
                        let context = canvas.getContext('2d');
                        let resultContainer = document.getElementById('result');
                        let messageContainer = document.getElementById('message');
            
                        context.drawImage(video, 0, 0, canvas.width, canvas.height);
                        let imageData = context.getImageData(0, 0, canvas.width, canvas.height);
                        let codeData = jsQR(imageData.data, imageData.width, imageData.height);
            
                        if (codeData) {
                            resultContainer.innerHTML = "QR Code détecté : " + codeData.data;
            
                            $.ajax({
                                url: '/verifier_qr_code/',
                                type: 'POST',
                                data: {
                                    'qr_code': codeData.data,
                                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ajout du jeton CSRF
                                },
                                success: function(response) {
                                    if (response.valide) {
                                        resultContainer.className = "valide";
                                        resultContainer.innerHTML = "QR code valide<br>";
            
                                        // Créer la structure du tableau
                                        var table = document.createElement('table');
                                        var headerRow = document.createElement('tr');
                                        var phoneHeader = document.createElement('th');
                                        var dateHeader = document.createElement('th');
                                        var timeHeader = document.createElement('th');
                                        phoneHeader.textContent = "Numéro de téléphone";
                                        dateHeader.textContent = "Date du pointage";
                                        timeHeader.textContent = "Heure du pointage";
                                        headerRow.appendChild(phoneHeader);
                                        headerRow.appendChild(dateHeader);
                                        headerRow.appendChild(timeHeader);
                                        table.appendChild(headerRow);
            
                                        // Parcourir la liste des pointages
                                        for (var i = 0; i < response.pointages.length; i++) {
                                            var pointage = response.pointages[i];
            
                                            // Créer une ligne pour chaque pointage
                                            var row = document.createElement('tr');
            
                                            // Ajouter le numéro de téléphone
                                            var phoneCell = document.createElement('td');
                                            phoneCell.textContent = pointage.etudiant__telephone;
                                            row.appendChild(phoneCell);
                                                                            // Ajouter la date du pointage
                                            var dateCell = document.createElement('td');
                                            dateCell.textContent = pointage.date_pointage;
                                            row.appendChild(dateCell);
                                            
                                            // Ajouter l'heure du pointage
                                            var timeCell = document.createElement('td');
                                            timeCell.textContent = pointage.heure_pointage;
                                            row.appendChild(timeCell);
                                            
                                            // Ajouter la ligne au tableau
                                            table.appendChild(row);
                                        }

                                        // Ajouter le tableau au conteneur de résultats
                                        resultContainer.appendChild(table);
                                    } else {
                                        resultContainer.className = "invalide";
                                        resultContainer.innerHTML = "QR code non valide";
                                    }
                                },
                                error: function(xhr, status, error) {
                                    console.log("Erreur lors de la vérification du QR code : " + error);
                                }
                            });
                        }
                    }

                    // Exécuter la fonction de scan toutes les 2 secondes
                    setInterval(scanQRCode, 2000);
                });
            </script>

            
      
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Bakeli 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>


     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js '%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js '%}"></script>
 
     <script src="{% static 'js/jquery.js '%}"></script>
     <script src="{% static 'js/bootstrap.js '%}"></script>
     <script src="{% static 'js/popper.js '%}"></script>
 
 
     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js '%}"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js '%}"></script>
 
     <!-- Page level plugins -->
     <script src="{% static 'vendor/chart.js/Chart.min.js '%}"></script>
 
     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/chart-area-demo.js '%}"></script>
     <script src="{% static 'js/demo/chart-pie-demo.js '%}"></script>
 
    
</body>
</html>



